#map {
		center:;
        width: 80em;
        height: 50em;
        margin: 0 auto;
      }

#brand {
  	margin-top: -2.5em !important;
  	margin-bottom: -5em !important;
  	margin-left: -0.5em !important;
}

#navbarSupportedContent {
	right: -100px !important;
	bottom: -500px !important;
}
